<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.dao.MenuTypeDao">



    <select id="getListMenuType" resultMap="menuTypeMap">
        select id, name, subId from menu_type order by id
    </select>
    
    <resultMap id="menuTypeMap" type="com.winter.pojo.MenuType">
        <id property="id" column="id"/>
        <collection property="subs" ofType="com.winter.pojo.MenTypeSub" column="id" select="getListMenuTypeSub"/>
    </resultMap>

    <select id="getListMenuTypeSub" parameterType="int" resultMap="menuTypeSubMap">
        select id, title from menu_type_sub where menuTypeId = #{id}
    </select>

    <resultMap id="menuTypeSubMap" type="com.winter.pojo.MenTypeSub">
        <id property="id" column="id"/>
        <collection property="menuTypeSubText" ofType="com.winter.pojo.MenuTypeSubText" column="id" select="getListMenuTypeSubText"/>
    </resultMap>
    <select id="getListMenuTypeSubText" parameterType="int"  resultType="com.winter.pojo.MenuTypeSubText">
        select id, name from menu_type_sub_text  where uId = #{id}
    </select>
    

</mapper>