<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.dao.MenuTypeDao">



    <select id="getListMenuType" resultMap="menuTypeMap">
        select id, name, subId from menu_type
    </select>
    
    <resultMap id="menuTypeMap" type="com.winter.pojo.MenuType">
        <id property="id" column="id"/>
        <collection property="subId" ofType="com.winter.pojo.MenTypeSub" column="id" select="getListMenuTypeSub"/>
    </resultMap>

    <select id="getListMenuTypeSub"  resultMap="menuTypeSubMap">
        select s.id, s.title from menu_type_sub s, menu_type mt where s.menuTypeId = mt.id
    </select>

    <resultMap id="menuTypeSubMap" type="com.winter.pojo.MenTypeSub">
        <id property="id" column="id"/>
        <collection property="menuTypeSubText" ofType="com.winter.pojo.MenuTypeSubText" column="id" select="getListMenuTypeSubText"/>
    </resultMap>
    <select id="getListMenuTypeSubText"  resultType="com.winter.pojo.MenuTypeSubText">
        select s.id, s.name from menu_type_sub_text s, menu_type_sub t where t.id = s.uId
    </select>
    

</mapper>